* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

html, body {
  height:100%;
  width:100%;
}

body {
  background-color:#E0E0E0;
  color:#ffffff;
  display:grid;
  justify-content:center;
}

canvas {
  background-color:#ffffff;
  float:left;
}

p {
  padding-left: 1.5em;
}

#d1 {
  float: left;
}

#d2 {
  float: right;
}
.flex-parent {
  display: flex;
}
.flex-child {
  flex: 1;
}
